body {
    width: 300px;
    background: #232323;
}
dt {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

dd {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
}

.list-icon {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.error {
    color: red !important;
}
